<div>
<h2>All events</h2>


{{#each allEvents}}
<h3>Name: {{name}}</h3>
<h3>Type: {{eventType}}</h3>
<h3>Description: {{description}}</h3>
<h3>Place: {{place}}</h3>
{{!-- arreglar como se ve la fecha --}}
<h3>Date: {{date}}</h3>

    {{!-- A単adir que solo lo pueda ver el Admin--}}
   <button> <a href="/events/{{_id}}/edit">Edit this event</a></button>
{{!-- A単adir que solo lo pueda ver el Admin--}}
   
   <form action="/events/{{_id}}/delete" method="POST">
        <button>Delete this event</button>
    </form>

<br>
{{/each}}

{{!-- A単adir que solo lo pueda ver el Admin--}}
<a href="/events/create">Create new Event</a>


{{!-- A単adir que BOTON FAVORITOS--}}


</div>