<div>
<h2>All events</h2>
  {{#if adminRole}}
    <button  class="btn"><a href="/events/create">Create new Event</a> </button>
    {{/if}}
<br>
{{#each allEvents}}
<img src="{{photo}}" alt="{{name}}" width="150px">
<p><span class="resalted">Name: </span>{{name}}</p>
<p><span class="resalted">Type: </span>{{eventType}}</p>
<p><span class="resalted">Description: </span>{{description}}</p>
<p><span class="resalted">Place: </span>{{place}}</p>
<p><span class="resalted">Date: </span>{{date}}</p>
<p><span class="resalted">Hour: </span>{{hour}}</p>
  {{#if ../adminRole}} 
    <button class="btn"><a href="/events/{{this._id}}/edit">Edit this event</a></button>
   
    <form action="/events/{{this._id}}/delete" method="POST">
        <button class="btn-delete">Delete this event</button>
    </form>
    <br>


  {{else}}
   <form action="/events/{{_id}}/events-favorites" method="POST">
      <button class="btn">Add to favorites</button>
    </form>
 {{!-- <form action="/events/{{_id}}/delete-fav" method="POST"><button>I'm not interested</button></form> --}}

  {{/if}}
<hr>
{{/each}}


</div>