<div>
<h1>Edit this event</h1>

{{#with eventDetails}}

<form action="/events/{{_id}}/edit" method="POST" enctype="multipart/form-data">
    <label for="photo">Upload an Event Pic</label>
    <input type="file" name="event-image" />
    <br>
    <label for="name">Name of the event: </label>
    <input type="text" name="name" required="true" autocomplete="false" value="{{name}}">
    <br />


   <label for="eventType">Type of event: </label>
    <select name="eventType" multiple="false" >
    {{#each ../eventType}}
        {{!-- marcar valor que tenia antes selected="true"
        .map en la ruta y if true > show the variable created with the .map , else show this --}}
         <option value="{{this}}">{{this}}</option>
      {{/each}}

    </select>
    <br />
    <label for="description">Description: </label>
    <input type="text" name="description" required="true" autocomplete="false" value="{{description}}">
    <label for="place">Place of the event: </label>
    <input type="text" name="place" required="true" autocomplete="false" value="{{place}}">
    <label for="date">Date of the event: </label>
    <input type="date" name="date" required="true" autocomplete="false" value="{{date}}">
    <br>
    <label for="hour">Hour of the event: </label>
    <input type="text" name="hour" required="true" autocomplete="false" value="{{hour}}">
    
    <button>Update Event</button>
    </form>
    {{/with}}
    <form>
    <input type="button" value="Go back!" onclick="history.back()">
    </form>
</div>