<div>
    <h1 class="section-title">My Teamlead profile</h1>
        {{#with adminDetails}} 
         <img src="{{photo}}" alt="{{fistName}}'s pic" width="150px">
            <h4>Welcome back, {{firstName}}!</h4>
   

     <button class="btn"><a href="/profile/edit/{{_id}}">Edit your profile</a></button>
       {{/with}} 
    <hr>
 
  <div>
    <h2>Next events</h2>
{{!-- carrusel eventos --}}
      <p>Create, edit and check all events!</p>
      <button class="btn"><a href="/events">Take me to events</a></button>
      
    <hr>
    <h2>All workers</h2>
        <p>Cheack a list of all workers to edit the profiles and worklogs</p>
        <button class="btn"> <a href="/admin/all-users">Take me to the list</a> </button>
 <hr>
      <div>  
        <h2>Active workers</h2>
    
            {{#each allUsers}}
              {{#if isWorking}}
          <p> <span class="resalted">Name:</span> {{firstName}} {{lastName}}</p> 
          <p><span class="resalted">Department:</span> {{department}}</p> 
        
        <button class="btn">
           <a href="/admin/worklog-validation/{{_id}}">Validate Worklogs</a>
        </button>

        <button class="btn"><a href="/profile/edit/{{_id}}">Edit this Worker's profile</a></button>
     <hr>
            {{/if}}
    
          {{/each}}
    </div>

</div>