<div>
    <h2> list of all workers</h2>

    <h3>Departments</h3>
    <ul>
    <h3>Cook</h3>
        {{#each cookDepartment}}
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
            <a href="/profile/edit/{{_id}}"><button>Edit Profile</button>
            </a>
            <form action="/admin/worklog-validation/{{_id}}" method="POST">
            <button>Validate Worklogs</button>
            </form>
           
        {{/each}}

</ul> <ul>

    <h3>Receptionist</h3>
  {{#each receptionistDepartment}}
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
            <a href="/profile/edit/{{_id}}"><button>Edit Profile</button>
            </a>
              <form action="/admin/worklog-validation/{{_id}}" method="POST">
            <button>Validate Worklogs</button>
            </form>
        {{/each}}
</ul>
 <ul>

    <h3>Restaurant</h3>
  {{#each restaurantDepartment}}
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
            <a href="/profile/edit/{{_id}}"><button>Edit Profile</button>
            </a>
              <form action="/admin/worklog-validation/{{_id}}" method="POST">
            <button>Validate Worklogs</button>
            </form>
        {{/each}}
</ul>
 <ul>

    <h3>Reservations</h3>
      {{#each reservationDepartment}}
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
          <a href="/profile/edit/{{_id}}"><button>Edit Profile</button>
           </a>
             <form action="/admin/worklog-validation/{{_id}}" method="POST">
            <button>Validate Worklogs</button>
            </form>
        {{/each}}
</ul>


</div>