<div>
    <h2> list of all workers</h2>

    <h3>Departments</h3>
    <ul>
    <h3>Cook</h3>
        {{#each cookDepartment}}
         <a href="/profile/edit/{{_id}}">
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
            </a>
        {{/each}}

</ul> <ul>

    <h3>Receptionist</h3>
  {{#each receptionistDepartment}}
         <a href="/profile/edit/{{_id}}">
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
            </a>
        {{/each}}
</ul>
 <ul>

    <h3>Restaurant</h3>
  {{#each restaurantDepartment}}
         <a href="/profile/edit/{{_id}}">
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
            </a>
        {{/each}}
</ul>
 <ul>

    <h3>Reservations</h3>
      {{#each reservationDepartment}}
         <a href="/profile/edit/{{_id}}">
            {{#if isWorking}}
            <li style="color:blue">{{firstName}} {{lastName}}</li>
            {{else}}
            <li style="color: red">{{firstName}} {{lastName}}</li>
            {{/if}}
           </a>
        {{/each}}
</ul>


</div>