<div>
    <h2>Worker's name: {{userDetails.firstName}} {{userDetails.lastName}}</h2>
<div>
<div>
    <h2>Pending</h2>
    <div>
    <h3>Worklogs in</h3>
            {{#if datesPendingIn}}
        <ul>
            <li>{{datesPendingIn}} - {{hoursPenningIn}}</li>
            {{#each pendingIn}}
            <li>Comment: {{comment}}</li>
        </ul>
            {{!--partials con el código del form debajo --}}
        <form action="/admin/{{_id}}/edit" method="POST">
            <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                {{#each ../validation}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
        {{/each}}
        {{else}}
        <h3>Not pending validations for this worker</h3>
    
    </div>
    <div>
    <h3>Worklogs out</h3>
   {{#if datesPendingOut}}
       <ul>
            <li>{{datesPendingOut}} - {{hoursPendingOut}}</li>
            {{#each pendingOut}}
            <li>Comment: {{comment}}</li>
        </ul>
        <form action="/admin/{{_id}}/edit" method="POST">
            <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                 {{#each ../validation}}
                 <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
        {{/each}}
        {{else}}
        <h3>Not pending validations for this worker</h3>

    </div>

<div>
<ul>
    <h2>Approved</h2>
    <h3>Worklogs in</h3>
    {{#if datesApprovedIn}}
        <li>{{datesApprovedIn}} - {{hoursApprovedIn}}</li>
    {{#each approvedIn}}
       <h4>Comment: {{comment}}</h4>
        <form action="/admin/{{_id}}/edit" method="POST">
         <label for="validation">Validation: </label>
        <select name="validation" multiple="false" >
            {{#each ../validation}}
             <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button>Submit</button>
    </form>
    {{/each}}
    {{else}}
        <h3>Not pending validations for this worker</h3>


    <h3>Worklogs out</h3>
    {{#if datesApprovedOut}}
        <li>{{datesApprovedOut}} - {{hoursApprovedOut}}</li>
      {{#each approvedOut}}
       <h4>Comment: {{comment}}</h4>
        <form action="/admin/{{_id}}/edit" method="POST">
         <label for="validation">Validation: </label>
        <select name="validation" multiple="false" >
            {{#each ../validation}}
             <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button>Submit</button>
    </form>
    {{/each}}
    {{else}}
        <h3>Not pending validations for this worker</h3>

</ul>
</div>


<div>
<ul>
    <h2>Denied</h2>
    <h3>Worklogs in</h3>
    {{#if datesDeniedIn}}
        <li>{{datesDeniedIn}} - {{hoursDeniedIn}}</li>
    {{#each deniedIn}}
        <h4>Comment: {{comment}}</h4>
        <form action="/admin/{{_id}}/edit" method="POST">
         <label for="validation">Validation: </label>
        <select name="validation" multiple="false" >
            {{#each ../validation}}
             <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button>Submit</button>
    </form>
    {{/each}}
{{else}}
        <h3>Not pending validations for this worker</h3>
</div>
<div>
    <h3>Worklogs out</h3>
    {{#if datesDeniedOut}}
        <li>{{datesDeniedOut}} - {{hoursDeniedOut}}</li>
      {{#each deniedOut}}
        <h4>Comment: {{comment}}</h4>
        <form action="/admin/{{_id}}/edit" method="POST">
         <label for="validation">Validation: </label>
        <select name="validation" multiple="false" >
            {{#each ../validation}}
             <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button>Submit</button>
    </form>

    {{/each}}
    {{else}}
        <h3>Not pending validations for this worker</h3>

</ul>
</div>



</div>


