<div>
    <form>
    <input type="button" value="Go back!" onclick="history.back()">
    </form>
    <h2>Worker's name: {{userDetails.firstName}} {{userDetails.lastName}}</h2>
   
<div>
<div>
    <h2>Pending</h2>
    <div>
    <h3 style="color: blue">Worklogs in</h3>
            {{#if datesPendingIn}}
        <ul>
            <li>{{datesPendingIn}} - {{hoursPendingIn}}</li>
            {{#each pendingIn}}
            <li class="comment">Comment: {{comment}}</li>
        </ul>
            {{!--partials con el código del form debajo --}}
        <form action="/admin/{{_id}}/edit" method="POST">
            <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                {{#each ../validation}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
            {{/each}}
        {{else}}
        <p>Not pending validations for this worker</p>
        {{/if}}
    </div>
    <div>
   
    <h3 style="color: blue">Worklogs out</h3>
   {{#if datesPendingOut}}
       <ul>
            <li>{{datesPendingOut}} - {{hoursPendingOut}}</li>
            {{#each pendingOut}}
            <li class="comment">Comment: {{comment}}</li>
        </ul>
        <form action="/admin/{{_id}}/edit" method="POST">
            <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                 {{#each ../validation}}
                 <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
            {{/each}}
        {{else}}
        <p>Not pending validations for this worker</p>
    {{/if}}
    </div>
</div>
<div>

    <h2 style="color: green">Approved</h2>

    <h3 style="color: blue">Worklogs in</h3>
  {{#if datesApprovedIn}}
    <ul>
        <li>{{datesApprovedIn}} - {{hoursApprovedIn}}</li>
        {{#each approvedIn}}
       <li class="comment">Comment: {{comment}}</li>
       </ul>
        <form action="/admin/{{_id}}/edit" method="POST">
            <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                {{#each ../validation}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
        {{/each}}
    {{else}}
    <p>Not pending validations for this worker</p>
    {{/if}}

    <h3 style="color: blue">Worklogs out</h3>
    {{#if datesApprovedOut}}
    <ul>
        <li>{{datesApprovedOut}} - {{hoursApprovedOut}}</li>
      {{#each approvedOut}}
       <li class="comment">Comment: {{comment}}</li>
       </ul>
        <form action="/admin/{{_id}}/edit" method="POST">
            <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                {{#each ../validation}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
        {{/each}}
        {{else}}
        <p>Not pending validations for this worker</p>

    {{/if}}
    </div>
</div>

<div>
    <div>
    <h2 style="color: red">Denied</h2>
    <h3 style="color: blue">Worklogs in</h3>
    <ul>
    {{#if datesDeniedIn}}
        <li>{{datesDeniedIn}} - {{hoursDeniedIn}}</li>
    {{#each deniedIn}}
        <li class="comment">Comment: {{comment}}</li>
        </ul>
        <form action="/admin/{{_id}}/edit" method="POST">
             <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                {{#each ../validation}}
                 <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>
        {{/each}}
        {{else}}
        <p>Not pending validations for this worker</p>>
        {{/if}}
</div>
<div>
    <h3 style="color: blue">Worklogs out</h3>
    <ul>
    {{#if datesDeniedOut}}
        <li>{{datesDeniedOut}} - {{hoursDeniedOut}}</li>
      {{#each deniedOut}}
        <li class="comment">Comment: {{comment}}</li>
        </ul>
        <form action="/admin/{{_id}}/edit" method="POST">
             <label for="validation">Validation: </label>
            <select name="validation" multiple="false" >
                {{#each ../validation}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button>Submit</button>
        </form>

        {{/each}}
    {{else}}
       <p>Not pending validations for this worker</p>
{{/if}}
</ul>
</div>