<div>
<div class="one-line-display">
    <h1 class="section-title">Edit profile</h1>
    
    <form>
        <input type="button" value="Go back!" class="back-btn left-space btn-size" onclick="history.back()">
    </form>
</div>
 {{#with userDetails}}

<div class="one-line-display">
    <div>
        <form action="/profile/edit/{{_id}}" method="POST" enctype="multipart/form-data">
        
        <label for="profilePicImage" class="form-label">Upload a Pic of yourself:</label>
        <input class="form-control"  type="file" name="profilePicImage">

        <br>
        <label for="firstName">Worker's first name:</label>
        <input type="text" name="firstName" value="{{firstName}}">
        <br>
        <label for="lastName">Worker's last name:</label>
        <input type="text" name="lastName" value="{{lastName}}">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{email}}">
    
        <br>
 
            {{#if ../adminRole}}
        
        <label for="role">Role:</label>
            <select class="form-select" name="role" >
                <option selected disabled value="">{{role}}</option> {{!-- shows previous value --}}
            {{#each ../role}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select> 

        <br>

        <label for="department">Department:</label>
            <select class="form-select" name="department" >
                <option selected disabled value="">{{department}}</option> {{!-- shows previous value --}}
            {{#each ../department}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
                </select>
                <br>
            {{/if}}
   
        <button class="btn">Submit changes</button>
        {{/with}}
        </form>
    </div>
    <div class="bottom-display">

    {{#if adminRole}}
        <form action="/admin/{{userDetails._id}}/delete" method="POST">
            <button class="btn-delete btn-size">Delete this worker</button>
        </form>
        {{/if}}

    </div>
      
</div>