{{!--reder user and admin profile --}}

<div>
    {{!-- si hay algo vaci칩, sale comentario que alerta y los campos estan en rojo--}}
    <h2>My profile</h2>
    {{#with userDetails}}
    <h3>Worker's name: {{firstName}}</h3>
    <h3>email: {{email}}</h3>
    <h3>Department: {{department}}</h3>
    <h3>Interested in: {{interest}}</h3>
    {{/with}}


    <button> <a href="/profile/edit/{{userDetails._id}}">Edit</a> </button>

    {{!-- only if isAdmin, viene de admin.routes.js --}}
    <button> <a href="/profile/edit/{{userDetails._id}}/delet">Delete</a> </button>


{{!-- if isAdmin se ver치 el carrussel de sus empleados, else ver치 el carrusel de eventos --}}

    {{!-- if isAdmin show bot칩n de 
               1. edit (redirects to "/profile/:userId") and 
               2. delte 
               3. worklog aproved
               --}}

</div>