{{!--reder user and admin profile --}}

<div>
    {{!-- si hay algo vació, sale comentario que alerta y los campos estan en rojo--}}
    <h2>My profile</h2>
    {{#with userDetails}}
    <img src="{{photo}}" alt="{{fistName}}'s pic" width="150px">
    <h3>Worker's name: {{firstName}} {{lastName}}</h3>
    <h3>email: {{email}}</h3>
    <h3>Department: {{department}}</h3>
    <h3>Interested in: {{interest}}</h3> {{!--esto es un dropdown!!--}}
    <h1>is working= {{isWorking}}</h1>

    {{/with}}
    <button> <a href="/profile/edit/{{userDetails._id}}">Edit</a> </button>
    <br>    
   <hr>
 {{!-- feeds from Log.model con EACH ... --}}
    <h2>WORKLOG time in:{{formatedWorklogDatesIn}}</h2>

{{#each worklogDatesIn}}   
    <h2>WORKLOG comment:{{comment}}</h2>
{{/each}}
    <h2>WORKLOG time out:{{formatedWorklogDatesOut}}</h2>
{{#each worklogDatesOut}}
    <h2>WORKLOG comment:{{comment}}</h2>
{{/each}} 

<hr>


    <br>
     {{#if isWorking}}
    <form action="/profile/log-out" method="POST">

        <label for="comment">Write a comment:</label>
        <input type="text" name="comment" required="true">
        <br>
       {{!-- <label for="timeIn">TimeIn</label>
        <input type="text" name="timeIn">
        <br>--}} 
        <label for="user"></label>
        <input type="text" name="user" hidden="true" value="{{userDetails._id}}">
         <label for="timeOut">
        <input type="date" name="timeOut" hidden="true"></label>
        <button>WORK LOG OUT</button>
    </form>
{{else}}
    <form action="/profile/log-in" method="POST">

        <label for="comment">Write a comment:</label>
        <input type="text" name="comment" required="true">
        <br>
       {{!-- <label for="timeIn">TimeIn</label>
        <input type="text" name="timeIn">
        <br>--}} 
        <label for="user"></label>
        <input type="text" name="user" hidden="true" value="{{userDetails._id}}">
        <label for="timeIn">
        <input type="date" name="timeIn" hidden="true"></label>
        <button>WORK LOG IN</button>

    </form>
    {{/if}}

    <h2>Next events</h2>
    {{!-- carrusel eventos --}}
    <a href="/events">See events</a>

</div>