<div>

    <h1>Edit your information</h1>

 {{#with userDetails}}

    <form action="/profile/edit/{{_id}}" method="POST" enctype="multipart/form-data">
        <label for="profilePicImage">Upload a Pic of yourself</label>
        <input type="file" name="profilePicImage" />
    <br>
        <label for="firstName">Worker's first name</label>
        <input type="text" name="firstName" value="{{firstName}}">
<br>
        <label for="lastName">Worker's last name:</label>
        <input type="text" name="lastName" value="{{lastName}}">
<br>
        <label for="email">email</label>
        <input type="email" name="email" value="{{email}}">
    
<br>
                      
 {{!--to choose from the interest (eventType) in Model or just create a form as in the event-edit.hbs  }} --}}
  
    <br><br>
 
 {{#if ../adminRole}}
        
<label for="role">Role</label>
    <select name="role" multiple="false" >
    {{#each ../role}}
    {{!-- marcar valor que tenia antes selected="true" --}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select> 

<br>

<label for="department">Department</label>
     <select name="department" multiple="false" >
    {{#each ../department}}
    {{!-- marcar valor que tenia antes selected="true" --}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
        </select>
<br>
    {{/if}}
    <button>Submit changes</button>
    {{/with}}
  </form>
<br>


 {{#if adminRole}}
    <form action="/admin/{{userDetails._id}}/delete" method="POST">
        <button style="color: red">Delete this worker</button>
    </form>
    {{/if}}
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
      
</div>